/* Fondo general */
body {
  display: flex;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #0f172a, #1e3a8a); /* azul oscuro → indigo */
  color: white;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 0;
}

/*Header*/
.imagenUNDC{
  position: relative;
  height: 50px;
}
/*  General   */
.barraDeControl{
  background: #0f172a;
  height: 102px;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
}
/*  NombreParteIzquierda   */
.miNombre{
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  padding-left: 15px;
  padding-top: 5px;
}

/*  Viñetas  */
.viñetas{
  gap: 30px;
}

.viñetas a{
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
}

.viñetas a:hover{
  transform: scale(1.2);
  border-top: 2px solid rgb(5, 18, 107); border-bottom: 2px solid rgb(5, 18, 107);
  background: rgba(255, 255, 255, 0.322);
}

/*   ContenidoDeDocentes  */

.contenidoGeneral{
  display: flex;
  width: 100%;
  margin: 0;
  padding: 20px 15px;
  justify-content: center ;
  font-family:'Times New Roman', Times, serif;
  padding: 0 auto;
}

.infoDocente{
  height: 100%;
  width: 180%;
  margin: 2% auto;
  animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
  from { width: 0 };
  to { width: 100% };
}

.textDocente{
  width: 100%;
}

.docentes{ 
  width: 100%;
  grid-template-rows:  150px auto;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.docentes li{
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.108);
  padding: 20px 50px;
}

.docentes li:hover{
  background: rgba(255, 255, 255, 0.451);
  transform: scale(1.25);
  box-shadow: 0 0 15px 10px #ffffff;
}

.imagen{
  height: 80px;
  width: 80px;
  border-radius: 20px;
  box-shadow: 0 0 15px 5px #0f172a;
}

/*
.mx-auto{
  padding-top: 20px;
  padding-left: 20px;
}

.mt-6{
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
}


.h-8{
  position: relative;
  height: 50px;
}


ul li div div h3 {
    transition: 8ms;
}

.flex h2{
  padding-left: 20px;
  padding-top: 1%;
  font-size: 27px;
}



.bg-gray-900{
  padding-top: 2%;
  padding-bottom: 13%;
}

.bg-gray-900 .grid li h3{
  font-family: 'Times New Roman', Times, serif;
}

.bg-gray-900 .grid li img{
  position: relative;
  border-radius: 20px;
  transform: scale(1.2);
}

.gap-x-8{
  position: relative;
}


.bg-gray-900 .grid{
  gap: 50px 80px;
}

.cuadro3{
  position: relative;
  left: 200px;
}

.bg-gray-900 .grid li{
  padding: 40px 20px;
  border-radius: 10px;
  border: 2px solid #f5f5f530;
}

.bg-gray-900 .grid li:hover{
  transform: scale(1.1);
  background-color: rgba(240, 248, 255, 0.096);
}*/
