header {
  top: 0;
  left: 0;
  right: 0;
  background: rgba(17, 24, 39, 0.9); /* bg-gray-900/90 */
  backdrop-filter: blur(6px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

ul li div div h3 {
    transition: 8ms;
}

/* Fondo general */
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #0f172a, #1e3a8a); /* azul oscuro → indigo */
  color: white;
  margin: 0;
  padding: 0;
}

/* Navbar */
header nav a {
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 8px 16px;
  border-radius: 6px;
  transition: background 0.3s;
}
/* Hero (h1 principal) */
h1 {
  font-size: 3rem !important;
  font-weight: 700 !important;
  color: #f5f5f5 !important;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.6);
}

.bg-gray-900 .grid li{
  padding: 40px 35px;
  border-radius: 10px;
  border: 1px solid #f5f5f530;
}

.bg-gray-900 .grid li h3{
  font-family: 'Times New Roman', Times, serif;
}

.bg-gray-900 .grid li:hover{
  background-color: rgba(240, 248, 255, 0.096);
}